<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/FlappyBird05/FlappyBird05/src/application/FlappyBird.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="application.FlappyBird"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="FlappyBird01"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FlappyBird05"/>
</launchConfiguration>
