<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/PolygonPointCheck14_24/src/application/PolygonPointCheck.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="application.PolygonPointCheck"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="PolygonPointCheck14_24"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PolygonPointCheck14_24"/>
</launchConfiguration>
